In [10]:
# Scrapping works only for images from AIrbnb http://insideairbnb.com/get-the-data.html excel
import pandas as pd
import numpy as np
data=pd.read_csv('/Users/jaideep/Desktop/Airbnb/Airbnb_Full_Project_Files_1/truncated_for_occupancy365.csv')
df = pd.DataFrame(data)
df

,id,indoor,outdoor,total_images,host_acceptance_rate,host_listings_count,host_total_listings_count,neighbourhood_group_cleansed,latitude,longitude,...,first_prob,entropy_int,image_flips,isFirstimageVerified,total_images_verified,_merge,tmp,tmp_1,tmp_2,entropy_norm
0,2818,28,0,28,NaN,1,1,NaN,52.365753,4.941419,...,0.674398,0.000000,0,1,12,matched (3),12,1,1,1.297432
1,3209,32,18,50,NaN,1,1,NaN,52.390224,4.873924,...,0.284876,0.000000,2,1,18,matched (3),12,1,1,1.384471
2,20168,24,0,24,NaN,2,2,NaN,52.365086,4.893541,...,0.543418,0.000000,0,0,0,matched (3),12,1,1,1.419128
3,25428,18,0,18,NaN,2,2,NaN,52.373116,4.883668,...,0.338714,0.000000,0,0,0,matched (3),12,1,1,1.468026
4,25488,34,2,36,NaN,2,2,NaN,52.365009,4.943573,...,0.220407,0.000000,2,1,18,matched (3),12,1,1,0.728868
5,27886,19,5,24,NaN,1,1,NaN,52.386726,4.892078,...,0.846564,0.750045,6,0,14,matched (3),12,1,1,0.714593
6,28658,17,0,17,NaN,2,2,NaN,52.375343,4.857289,...,0.148618,0.000000,0,1,17,matched (3),12,1,1,0.576316
7,28871,2,2,4,NaN,3,3,NaN,52.367188,4.890918,...,0.263064,1.474745,1,0,0,matched (3),12,1,1,0.751901
8,29051,1,1,2,NaN,3,3,NaN,52.367725,4.891512,...,0.303986,1.522467,1,0,0,matched (3),12,1,1,0.844937
9,42970,17,4,21,NaN,2,2,NaN,52.367813,4.890012,...,0.120329,0.000000,3,0,0,matched (3),12,1,1,0.706139
10,43980,13,3,16,NaN,1,1,NaN,52.357456,4.861242,...,0.199909,1.224191,1,0,0,matched (3),12,1,1,0.449928
11,44805,12,10,22,NaN,2,2,NaN,52.360767,4.944349,...,0.237611,1.654493,3,0,0,matched (3),12,1,1,0.925583
12,48076,29,5,34,NaN,2,2,NaN,52.380421,4.894535,...,0.199658,0.000000,4,1,13,matched (3),12,1,1,0.653506
13,49552,21,18,39,NaN,1,1,NaN,52.379246,4.890227,...,0.378300,0.000000,9,0,0,matched (3),12,1,1,1.217279
14,50523,10,7,17,NaN,1,1,NaN,52.368408,4.884134,...,0.187748,0.000000,3,0,0,matched (3),12,1,1,0.885280
15,50570,18,0,18,NaN,3,3,NaN,52.377739,4.848912,...,0.146950,0.000000,0,1,18,matched (3),12,1,1,0.711706
16,52490,16,2,18,NaN,1,1,NaN,52.370045,4.938691,...,0.232919,0.000000,2,0,7,matched (3),12,1,1,1.676996
17,53671,28,6,34,NaN,1,1,NaN,52.389053,4.885589,...,0.577626,0.000000,3,0,0,matched (3),12,1,1,1.434939
18,55709,24,24,48,NaN,3,3,NaN,52.358955,4.897259,...,0.243221,0.000000,3,1,12,matched (3),12,1,1,1.270064
19,55807,27,3,30,NaN,1,1,NaN,52.369656,4.862025,...,0.229051,0.000000,6,1,13,matched (3),12,1,1,0.886111
20,55868,13,1,14,NaN,1,1,NaN,52.356133,4.885150,...,0.121451,0.000000,2,1,12,matched (3),12,1,1,0.359423
21,58211,28,2,30,NaN,4,4,NaN,52.369164,4.884445,...,0.734514,0.000000,1,0,0,matched (3),12,1,1,0.551428
22,58600,34,12,46,NaN,1,1,NaN,52.381802,4.868031,...,0.454426,0.000000,1,0,0,matched (3),12,1,1,1.152973
23,62015,40,2,42,NaN,1,1,NaN,52.364452,4.931236,...,0.467879,0.000000,1,0,0,matched (3),12,1,1,1.539774
24,68290,34,10,44,NaN,10,10,NaN,52.368870,4.895234,...,0.441414,0.000000,3,1,22,matched (3),12,1,1,1.522904
25,68873,17,3,20,NaN,10,10,NaN,52.369499,4.895560,...,0.261136,0.000000,5,1,20,matched (3),12,1,1,1.732899
26,69042,10,5,15,NaN,2,2,NaN,52.373528,4.876906,...,0.746722,0.000000,3,1,13,matched (3),12,1,1,1.100685
27,71231,20,13,33,NaN,2,2,NaN,52.357304,4.891381,...,0.484283,0.000000,9,0,0,matched (3),12,1,1,0.901103
28,73917,26,8,34,NaN,1,1,NaN,52.378944,4.890602,...,0.289848,0.000000,7,1,19,matched (3),12,1,1,1.053731
29,75382,58,60,118,NaN,3,3,NaN,52.364826,4.927616,...,0.210920,1.393288,9,0,0,matched (3),12,1,1,0.604716
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4376,17846988,18,4,22,NaN,1,1,NaN,52.369770,4.858977,...,0.146927,0.000000,4,1,20,matched (3),12,1,1,0.991962
4377,17854840,18,0,18,NaN,1,1,NaN,52.343346,4.909697,...,0.234184,0.000000,0,0,0,matched (3),12,1,1,0.867990
4378,17859181,19,9,28,NaN,4,4,NaN,52.371414,4.938782,...,0.102856,1.390168,6,1,28,matched (3),12,1,1,0.521240
4379,17862359,10,0,10,NaN,1,1,NaN,52.354130,4.899206,...,0.371397,0.000000,0,1,10,matched (3),12,1,1,0.883500
4380,17870073,14,5,19,NaN,1,1,NaN,52.387852,4.885546,...,0.245771,0.000000,2,0,0,matched (3),12,1,1,0.613347
4381,17871596,11,3,14,NaN,1,1,NaN,52.368958,4.908914,...,0.217247,0.000000,1,0,0,matched (3),12,1,1,0.613853
4382,17872586,24,0,24,NaN,3,3,NaN,52.357151,4.890180,...,0.411113,0.000000,0,1,24,matched (3),12,1,1,0.978822
4383,17874329,10,0,10,NaN,1,1,NaN,52.353519,4.786250,...,0.543843,0.000000,0,0,0,matched (3),12,1,1,1.316556
4384,17874552,13,1,14,NaN,1,1,NaN,52.367985,4.880526,...,0.205663,0.000000,1,0,0,matched (3),12,1,1,0.774738
4385,17875133,21,9,30,NaN,1,1,NaN,52.370655,4.899678,...,0.373422,0.000000,14,0,0,matched (3),12,1,1,1.024992
4386,17900191,9,4,13,NaN,1,1,NaN,52.344845,4.860373,...,0.339850,0.000000,1,1,13,matched (3),12,1,1,1.217083
4387,17902223,15,0,15,NaN,1,1,NaN,52.363239,4.865704,...,0.097449,0.000000,0,0,0,matched (3),12,1,1,0.411481
4388,17911838,11,3,14,NaN,1,1,NaN,52.389278,4.886126,...,0.090941,0.000000,3,0,0,matched (3),12,1,1,0.497101
4389,17913851,8,2,10,NaN,1,1,NaN,52.373875,4.941311,...,0.162432,0.000000,2,0,0,matched (3),12,1,1,1.230016
4390,17913931,5,0,5,NaN,2,2,NaN,52.366581,4.844628,...,0.695880,0.000000,0,0,0,matched (3),12,1,1,1.355653
4391,17921065,14,7,21,NaN,1,1,NaN,52.369961,4.881438,...,0.564357,0.000000,3,0,0,matched (3),12,1,1,1.613446
4392,17924907,7,2,9,NaN,1,1,NaN,52.339314,4.918487,...,0.132212,0.000000,2,0,0,matched (3),12,1,1,0.645312
4393,17931425,5,1,6,NaN,1,1,NaN,52.378452,4.854023,...,0.406517,0.000000,1,0,0,matched (3),12,1,1,0.932239
4394,17935451,23,8,31,NaN,1,1,NaN,52.367485,4.908963,...,0.131558,1.262816,4,1,31,matched (3),12,1,1,0.438586
4395,17936064,16,8,24,NaN,1,1,NaN,52.396271,4.904650,...,0.357347,1.569820,8,1,24,matched (3),12,1,1,0.985529
4396,17952544,16,3,19,NaN,1,1,NaN,52.369450,4.889657,...,0.242503,0.000000,1,1,19,matched (3),12,1,1,1.671782
4397,17953351,8,4,12,NaN,1,1,NaN,52.352375,4.916660,...,0.157663,1.443810,4,0,0,matched (3),12,1,1,0.636116
4398,17955592,92,5,97,NaN,1,1,NaN,52.347221,4.858696,...,0.159389,0.000000,2,0,0,matched (3),12,1,1,0.906210
4399,17967583,22,2,24,NaN,125,125,NaN,52.327160,4.878619,...,0.282192,0.000000,4,0,0,matched (3),12,1,1,0.886699
4400,17969022,23,4,27,NaN,2,2,NaN,52.374550,4.859109,...,0.276230,0.000000,1,0,0,matched (3),12,1,1,1.114011
4401,17969025,6,2,8,NaN,2,2,NaN,52.351933,4.905323,...,0.315307,0.000000,3,0,0,matched (3),12,1,1,1.253795
4402,17975252,2,0,2,NaN,1,1,NaN,52.384624,4.873168,...,0.803895,0.000000,0,0,0,matched (3),12,1,1,0.740074
4403,17986807,16,3,19,NaN,1,1,NaN,52.356339,4.892472,...,0.388930,0.000000,1,0,0,matched (3),12,1,1,1.188457
4404,18002212,11,1,12,NaN,2,2,NaN,52.370728,4.865133,...,0.178967,0.000000,2,0,0,matched (3),12,1,1,0.687234
4405,18004933,8,2,10,NaN,2,2,NaN,52.365173,4.866707,...,0.162409,0.000000,2,0,0,matched (3),12,1,1,0.881681

In [11]:
import urllib
from selenium import webdriver
from selenium.common.exceptions import NoSuchElementException
import os
import time

In [ ]:
#works in mac only and only for airbnb listings url 
#scrapped images from  the slide show for each airbnb listing
options = webdriver.ChromeOptions()
options.binary_location = '/Applications/Google Chrome Canary.app/Contents/MacOS/Google Chrome Canary'
options.add_argument('window-size=800x841')
options.add_argument('headless')
driver = webdriver.Chrome(chrome_options=options)
sum_total=0
count_listings=0
d=[];e=[];f=[];
for row in df.itertuples():
    #print(row[1])
    data_url='https://www.airbnb.com/rooms/'+str(row[1])
    time.sleep(np.random.randint(1,10))
    driver.get(data_url)
    try:
        time.sleep(np.random.randint(1,2))
        #class keeps updating in airbnb site need to check constantly
        driver.find_element_by_css_selector('._1s8f7pz').click()
        verified=driver.find_element_by_css_selector('._dxgq4v')
        try:
            verified.find_element_by_css_selector('.text-muted')
            d.append("1")
            e.append(str(row[1]))
        except:
            d.append("0")
            e.append(str(row[1]))
            
    except NoSuchElementException:
        print data_url + " listing is no longer available."
driver.close()

https://www.airbnb.com/rooms/170223 listing is no longer available.
https://www.airbnb.com/rooms/193081 listing is no longer available.
https://www.airbnb.com/rooms/270839 listing is no longer available.
https://www.airbnb.com/rooms/289857 listing is no longer available.
https://www.airbnb.com/rooms/539036 listing is no longer available.
https://www.airbnb.com/rooms/558721 listing is no longer available.
https://www.airbnb.com/rooms/583512 listing is no longer available.
https://www.airbnb.com/rooms/693675 listing is no longer available.
https://www.airbnb.com/rooms/732509 listing is no longer available.
https://www.airbnb.com/rooms/747847 listing is no longer available.
https://www.airbnb.com/rooms/759299 listing is no longer available.
https://www.airbnb.com/rooms/766179 listing is no longer available.
https://www.airbnb.com/rooms/795569 listing is no longer available.
https://www.airbnb.com/rooms/872594 listing is no longer available.
https://www.airbnb.com/rooms/876855 listing is no longer available.
https://www.airbnb.com/rooms/894310 listing is no longer available.
https://www.airbnb.com/rooms/953041 listing is no longer available.
https://www.airbnb.com/rooms/1019667 listing is no longer available.
https://www.airbnb.com/rooms/1026847 listing is no longer available.
https://www.airbnb.com/rooms/1050315 listing is no longer available.
https://www.airbnb.com/rooms/1102027 listing is no longer available.
https://www.airbnb.com/rooms/1152623 listing is no longer available.
https://www.airbnb.com/rooms/1184251 listing is no longer available.
https://www.airbnb.com/rooms/1194317 listing is no longer available.
https://www.airbnb.com/rooms/1264359 listing is no longer available.
https://www.airbnb.com/rooms/1286810 listing is no longer available.
https://www.airbnb.com/rooms/1294092 listing is no longer available.
https://www.airbnb.com/rooms/1322451 listing is no longer available.
https://www.airbnb.com/rooms/1443788 listing is no longer available.
https://www.airbnb.com/rooms/1486461 listing is no longer available.
https://www.airbnb.com/rooms/1592204 listing is no longer available.
https://www.airbnb.com/rooms/1667081 listing is no longer available.
https://www.airbnb.com/rooms/1928988 listing is no longer available.
https://www.airbnb.com/rooms/1933932 listing is no longer available.
https://www.airbnb.com/rooms/1942699 listing is no longer available.
https://www.airbnb.com/rooms/2295460 listing is no longer available.
https://www.airbnb.com/rooms/2336047 listing is no longer available.
https://www.airbnb.com/rooms/2355651 listing is no longer available.
https://www.airbnb.com/rooms/2411237 listing is no longer available.
https://www.airbnb.com/rooms/2728371 listing is no longer available.
https://www.airbnb.com/rooms/2733478 listing is no longer available.
https://www.airbnb.com/rooms/2741939 listing is no longer available.
https://www.airbnb.com/rooms/2747704 listing is no longer available.
https://www.airbnb.com/rooms/2749719 listing is no longer available.
https://www.airbnb.com/rooms/2749780 listing is no longer available.
https://www.airbnb.com/rooms/2754109 listing is no longer available.
https://www.airbnb.com/rooms/2755514 listing is no longer available.
https://www.airbnb.com/rooms/2760802 listing is no longer available.
https://www.airbnb.com/rooms/2761156 listing is no longer available.
https://www.airbnb.com/rooms/2762232 listing is no longer available.
https://www.airbnb.com/rooms/2763037 listing is no longer available.
https://www.airbnb.com/rooms/2763386 listing is no longer available.
https://www.airbnb.com/rooms/2765163 listing is no longer available.
https://www.airbnb.com/rooms/3035781 listing is no longer available.
https://www.airbnb.com/rooms/3048001 listing is no longer available.
https://www.airbnb.com/rooms/3109476 listing is no longer available.
https://www.airbnb.com/rooms/3266103 listing is no longer available.
https://www.airbnb.com/rooms/3329357 listing is no longer available.
https://www.airbnb.com/rooms/3407526 listing is no longer available.
https://www.airbnb.com/rooms/3560561 listing is no longer available.
https://www.airbnb.com/rooms/3669488 listing is no longer available.
https://www.airbnb.com/rooms/3875056 listing is no longer available.